!========== ospf config
{% for name in ospf_interfaces -%}
interface {{ name }}
 no ip ospf passive
{% endfor -%}
!
router ospf
 passive-interface default
 network {{ asn1_supernet }} area 0
 redistribute bgp
!
